.logo
{
  width: 20%;
  height: 60px;
}
html
{
  background:url('img/fondo.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
}
.principal
{
  color: red;
  align-content: center;
}