body{

}

.top-menu{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

.main-section {
    width: 100%;
    height: 100vh;
    display: block;
    background-image: url("https://ae01.alicdn.com/kf/HTB1gNr4KpXXXXc3XVXXq6xXFXXX3/Wallpapers-for-living-room-black-and-white-building-custom-3d-wallpaper-murals-Home-Decoration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bk-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bk-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.services{
    width: 100%;
    height: 20vh;
    background: ;
}