* {
    width: 1000px;

}

.bg{
    background-image: "img/tim-marshall-57665-unsplash.jpg";
}

.inf{
    width: 100%;
    background-color: darkslategrey;
    color: white;
}

a {
    text-decoration: none;
}