body{
  width: 80%;
  margin: auto;

}
.navegador{
  background-image: url("/assets/ciudad.jpg");
  nav{
    flex-direction: row;
    text-align: right;
    font-size: 22px;
    a{
      text-decoration: none;
    }

  }
}
.botones{
  a{
    text-decoration: none;
  }
}
