.header{
    width: 100%;
    height: auto;
}

.menu{
    padding-top: 5%;
    background-color: #5c9bba;
}

.menu-icon{
    margin: 20% 10% 15% 10%;
}

.text{
    text-align: center;
	padding: 3% 10% 3% 10%;
}
